In [37]:
import pandas as pd
import numpy as np
from datetime import datetime

In [70]:
data = []

for year in range(1990,2023,1):
    if year<2013:
        df = pd.read_csv('UF '+str(year)+'.csv', thousands='.', decimal=",")
    else:
        df = pd.read_csv('UF '+str(year)+'.csv', sep=';', thousands='.', decimal=",")
    months = df.columns[1:]
    days = df.index

    month_number = 1
    for month in months:
        for day in days:
            if not np.isnan(df.loc[day,month]):
                data.append([datetime(year,month_number,day+1),df.loc[day,month]])
        month_number+=1

In [76]:
uf_data = pd.DataFrame(data, columns=['date','clfclp'])
uf_data

            date    clfclp
0     1990-01-01   5435.28
1     1990-01-02   5438.23
2     1990-01-03   5441.19
3     1990-01-04   5444.15
4     1990-01-05   5447.11
...          ...       ...
11904 2022-08-05  33465.59
11905 2022-08-06  33475.26
11906 2022-08-07  33484.94
11907 2022-08-08  33494.62
11908 2022-08-09  33504.30

[11909 rows x 2 columns]

In [78]:
uf_data.to_csv('UF 1990-2022.csv', index=False)